body {
  display: flex;
  flex-direction: column;
  padding: 5vmin;
  font: 4vmin "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://i.imgur.com/KMx6s4V.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

a {
  color: black;
}

div, form {
  display: inline
}

/* #btn {
  background-color: red;
  color: white;
} */

h1 {

}

p {

}